/* Alerts */

.alert {
  padding: 1em;
  box-sizing: border-box;
  border-left: 8px solid;
}

@each $role, $color in $roles {
  .alert-#{$role} {
    border-left-color: $color;
    background-color: lighten($color, 40%);
    color: contrasting-color(lighten($color, 40%));
  }
}