/* Responsive grid */

$grid: (
  auto: 1 0,
  full: 0 0 100%,
  half: 0 0 50%,
  third: 0 0 33.3333333333%,
  fourth: 0 0 25%,
  fifth: 0 0 20%,
  sixth: 0 0 16.6666666666%
);

.row {
  @include flex-row;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}

.gutter > .col {
  padding: 1em;
  box-sizing: border-box;
}

.col {
  flex: 1;
  -webkit-flex: 1;
}

.x-small-hidden {
  display: none;
}

@each $suffix, $size in $grid {
  .x-small-#{$suffix} {
    flex: $size;
    -webkit-flex: $size;
  }
}

@each $prefix, $breakpoint in $breakpoints {
  @media screen and (min-width: $breakpoint) {
    .#{$prefix}-hidden {
      display: none;
    }
    @each $suffix, $size in $grid {
      .#{$prefix}-#{$suffix} {
        flex: $size;
        -webkit-flex: $size;
      }
    }
  }
}