$font-family: sans-serif;
$font-size: 1em;
$line-height: 1.5;

$max-percent-width: 90%;
$max-width: 60em;

$small-breakpoint: 30em;
$medium-breakpoint: 60em;
$large-breakpoint: 80em;

$breakpoints: (
  small: $small-breakpoint,
  medium: $medium-breakpoint,
  large: $large-breakpoint
);

$background-color: #ffffff;
$background-color-darker: #eeeeee;

$light-text-color: #ffffff;
$dark-text-color: #000000;

$shadow-color: rgba(0, 0, 0, 0.25);

$primary-color: #212121;
$primary-color-muted: #9e9e9e;
$info-color: #2196f3;
$info-color-muted: #90caf9;
$success-color: #4caf50;
$success-color-muted: #a5d6a7;
$danger-color: #f44336;
$danger-color-muted: #ef9a9a;

$roles: (
  primary: $primary-color,
  info: $info-color,
  success: $success-color,
  danger: $danger-color
);

$roles-muted: (
  primary: $primary-color-muted,
  info: $info-color-muted,
  success: $success-color-muted,
  danger: $danger-color-muted
);

@function contrasting-color($color) {
  @if (lightness($color) > 50) {
    @return $dark-text-color;
  } @else {
    @return $light-text-color;
  }
}

html, body {
  height: 100%;
  margin: 0;
}

@import "mixins";
@import "layout";
@import "typography";
@import "grid";
@import "buttons";
@import "alerts";
@import "wells";
@import "modals";
@import "tables";
@import "utility";