@mixin flex-column {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
}

@mixin flex-row {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
}

@mixin flex-grow {
  flex-grow: 1;
  -webkit-flex-grow: 1;
}

@mixin flex-no-shrink {
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
}