/* Modals */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #fefefe;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  position: fixed;
  width: 90%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

@media screen and (min-width: $small-breakpoint) {
  .modal-content {
    width: 70%;
  }
}

@media screen and (min-width: $large-breakpoint) {
  .modal-content {
    width: 50%;
  }
}