/* Typography */

body {
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-light {
  color: $light-text-color;
}

.text-dark {
  color: $dark-text-color;
}

@each $role, $color in $roles {
  .text-#{$role} {
    color: $color;
  }
  .bg-#{$role} {
    background-color: $color;
  }
}

@each $role, $color in $roles-muted {
  .bg-#{$role}-muted {
    background-color: $color;
  }
}

/* Images */

.image  {
  width: 100%;
  height: auto;
}

/* Horizontal rules */

hr {
  width: $max-percent-width;
  max-width: $max-width;
}

/* Code */

:not(pre) > code {
  border: 1px solid $primary-color-muted;
  background-color: $background-color-darker;
  border-radius: 2px;
  padding: 0 0.2em;
}

pre {
  border: 1px solid $primary-color-muted;
  background-color: $background-color-darker;
  border-radius: 2px;
  padding: 1em;
  margin: 1em 0;
}

kbd {
  border: 1px solid $primary-color;
  border-bottom: 3px double $primary-color;
  background-color: $primary-color-muted;
  border-radius: 2px;
  padding: 0 0.2em;
}

/* Headers */

h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.7em;
}
h3 {
  font-size: 1.4em;
}
h4 {
  font-size: 1.1em;
}
h5, h6 {
  font-size: 1em;
}

@media screen and (min-width: $small-breakpoint) {
  h1 {
    font-size: 2.5em;
  }
  h2 {
    font-size: 2.1em;
  }
  h3 {
    font-size: 1.7em;
  }
  h4 {
    font-size: 1.3em;
  }
  h5, h6 {
    font-size: 1em;
  }
}

@media screen and (min-width: $medium-breakpoint) {
  h1 {
    font-size: 3em;
  }
  h2 {
    font-size: 2.5em;
  }
  h3 {
    font-size: 2em;
  }
  h4 {
    font-size: 1.5em;
  }
  h5, h6 {
    font-size: 1em;
  }
}