/* Typography */

body {
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-light {
  color: $light-text-color;
}

.text-dark {
  color: $dark-text-color;
}

@each $role, $color in $roles {
  .text-#{$role} {
    color: $color;
  }
  .bg-#{$role} {
    background-color: $color;
  }
}

@each $role, $color in $roles-muted {
  .bg-#{$role}-muted {
    background-color: $color;
  }
}