.well {
  border-radius: 2px;
  box-shadow: 2px 2px 5px $shadow-color;
  background-color: $background-color;
  margin-top: 1em;
  margin-bottom: 1em;
}

.well-content {
  padding: 1em;
}

.well-image {
  //placeholder
}

.well-title {
  margin-top: 0;
}

.well-action {
  border-top: 1px solid $background-color-darker;
  padding: 0 1em;
}